USE [master]
GO
/****** Object:  Database [Ecommerce_DB]    Script Date: 27/11/2025 19:33:31 ******/
CREATE DATABASE [Ecommerce_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ecommerce_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ecommerce_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ecommerce_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ecommerce_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ecommerce_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ecommerce_DB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreCategoria] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleProducto]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleProducto](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[idPedido] [int] NOT NULL,
	[cantidadProducto] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[PrecioRebajado] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[imagenes]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[imagenes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idProducto] [int] NOT NULL,
	[url] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[precioTotal] [decimal](10, 2) NOT NULL,
	[estado] [varchar](30) NOT NULL,
	[metodoDepago] [varchar](40) NULL,
	[FechaPedido] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](20) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[MarcaId] [int] NOT NULL,
	[CategoriaId] [int] NOT NULL,
	[Descripcion] [varchar](250) NOT NULL,
	[PrecioCompra] [decimal](10, 2) NOT NULL,
	[PorcentajeGanancia] [decimal](10, 2) NOT NULL,
	[PrecioVenta] [decimal](10, 2) NOT NULL,
	[StockActual] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Contraseña] [varchar](100) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](100) NULL,
	[CodigoPostal] [varchar](10) NULL,
	[estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([id], [nombreCategoria]) VALUES (1, N'Electrónica')
INSERT [dbo].[Categoria] ([id], [nombreCategoria]) VALUES (2, N'Accesorios')
INSERT [dbo].[Categoria] ([id], [nombreCategoria]) VALUES (3, N'Consolas')
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleProducto] ON 

INSERT [dbo].[DetalleProducto] ([id], [idProducto], [idPedido], [cantidadProducto], [PrecioUnitario], [PrecioRebajado]) VALUES (1, 4, 8, 1, CAST(500000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleProducto] ([id], [idProducto], [idPedido], [cantidadProducto], [PrecioUnitario], [PrecioRebajado]) VALUES (2, 4, 9, 1, CAST(500000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleProducto] ([id], [idProducto], [idPedido], [cantidadProducto], [PrecioUnitario], [PrecioRebajado]) VALUES (3, 2, 9, 1, CAST(7500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleProducto] OFF
GO
SET IDENTITY_INSERT [dbo].[imagenes] ON 

INSERT [dbo].[imagenes] ([id], [idProducto], [url]) VALUES (21, 2, N'https://www.lg.com/cac/images/tv-barra-de-sonido/md07601813/gallery/Z02_large02.jpg')
INSERT [dbo].[imagenes] ([id], [idProducto], [url]) VALUES (22, 3, N'https://castillo.vtexassets.com/arquivos/ids/168002-1200-auto?v=638800666430930000&width=1200&height=auto&aspect=true')
INSERT [dbo].[imagenes] ([id], [idProducto], [url]) VALUES (23, 4, N'https://i.blogs.es/56cc33/ps5-pro/500_333.jpeg')
SET IDENTITY_INSERT [dbo].[imagenes] OFF
GO
SET IDENTITY_INSERT [dbo].[Marca] ON 

INSERT [dbo].[Marca] ([Id], [Nombre]) VALUES (1, N'BGH')
INSERT [dbo].[Marca] ([Id], [Nombre]) VALUES (2, N'Samsung')
INSERT [dbo].[Marca] ([Id], [Nombre]) VALUES (3, N'Philips')
SET IDENTITY_INSERT [dbo].[Marca] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido] ON 

INSERT [dbo].[Pedido] ([id], [idUsuario], [precioTotal], [estado], [metodoDepago], [FechaPedido]) VALUES (1, 1, CAST(125000.00 AS Decimal(10, 2)), N'En preparación', N'Tarjeta de crédito', CAST(N'2025-11-09T08:45:10.750' AS DateTime))
INSERT [dbo].[Pedido] ([id], [idUsuario], [precioTotal], [estado], [metodoDepago], [FechaPedido]) VALUES (2, 2, CAST(58000.50 AS Decimal(10, 2)), N'Enviado', N'Transferencia bancaria', CAST(N'2025-11-09T08:45:10.750' AS DateTime))
INSERT [dbo].[Pedido] ([id], [idUsuario], [precioTotal], [estado], [metodoDepago], [FechaPedido]) VALUES (3, 3, CAST(23000.00 AS Decimal(10, 2)), N'Enviado', N'Efectivo', CAST(N'2025-11-09T08:45:10.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[Pedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([Id], [Codigo], [Nombre], [MarcaId], [CategoriaId], [Descripcion], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Estado]) VALUES (2, N'TV001', N'SmartTV 50"', 4, 1, N'Televisor full HD', CAST(5000.00 AS Decimal(10, 2)), CAST(50.00 AS Decimal(10, 2)), CAST(7500.00 AS Decimal(10, 2)), 13, 1, 1)
INSERT [dbo].[Producto] ([Id], [Codigo], [Nombre], [MarcaId], [CategoriaId], [Descripcion], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Estado]) VALUES (3, N'PH001', N'Auriculares Bluetooth', 3, 2, N'Auriculares inalámbricos con micrófono', CAST(35000.00 AS Decimal(10, 2)), CAST(40.00 AS Decimal(10, 2)), CAST(49000.00 AS Decimal(10, 2)), 31, 10, 1)
INSERT [dbo].[Producto] ([Id], [Codigo], [Nombre], [MarcaId], [CategoriaId], [Descripcion], [PrecioCompra], [PorcentajeGanancia], [PrecioVenta], [StockActual], [StockMinimo], [Estado]) VALUES (4, N'PS501', N'PlayStation 5', 4, 3, N'Consola de videojuegos de última generación', CAST(400000.00 AS Decimal(10, 2)), CAST(25.00 AS Decimal(10, 2)), CAST(500000.00 AS Decimal(10, 2)), 0, 2, 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([Id], [DNI], [Nombre], [Apellido], [Correo], [Contraseña], [Rol], [Telefono], [Direccion], [CodigoPostal], [estado]) VALUES (1, N'2365440', N'Lucía', N'Gómez', N'lucia.gomez@email.com', N'lucia123', N'cliente', N'1122334455', N'Av. Belgrano 123', N'1005', 1)
INSERT [dbo].[Usuario] ([Id], [DNI], [Nombre], [Apellido], [Correo], [Contraseña], [Rol], [Telefono], [Direccion], [CodigoPostal], [estado]) VALUES (2, N'40234567', N'Martín', N'Pérez', N'martin.perez@email.com', N'martin456', N'cliente', N'1133445566', N'Calle Falsa 456', N'B1602', 1)
INSERT [dbo].[Usuario] ([Id], [DNI], [Nombre], [Apellido], [Correo], [Contraseña], [Rol], [Telefono], [Direccion], [CodigoPostal], [estado]) VALUES (3, N'50345678', N'Sofía', N'Rodríguez', N'sofia.rodriguez@email.com', N'sofia789', N'cliente', N'1133445223', N'Castillo 598', N'1609', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Pedido] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((0)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD FOREIGN KEY([idPedido])
REFERENCES [dbo].[Pedido] ([id])
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[imagenes]  WITH CHECK ADD FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([Id])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([CategoriaId])
REFERENCES [dbo].[Categoria] ([id])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([MarcaId])
REFERENCES [dbo].[Marca] ([Id])
GO
ALTER TABLE [dbo].[DetalleProducto]  WITH CHECK ADD CHECK  (([cantidadProducto]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[agregar_detalleProducto]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[agregar_detalleProducto]
@idProducto bigint,
@idPedido bigint,
@cantidadProducto int,
@precioUnitario decimal(10,2),
@PrecioRebajado decimal(10,2) = 0,
 @exito bit OUTPUT
AS
begin
 
Set nocount on;
SET XACT_ABORT ON;
begin try

begin tran;

Insert into detalleProducto(idproducto,idpedido,cantidadProducto,PrecioUnitario,PrecioRebajado)
Values(@idProducto,@idPedido,@cantidadProducto,@precioUnitario,@PrecioRebajado);

if @@ROWCOUNT = 1
begin
commit tran
set @exito=1;
end

else
begin
rollback tran
set @exito=0
end
end try

 BEGIN CATCH

  
 
    IF XACT_STATE() <> 0
      ROLLBACK TRAN;
       DELETE FROM detalleProducto WHERE idPedido = @idPedido;
    SET @exito = 0;
    end catch
    end

GO
/****** Object:  StoredProcedure [dbo].[agregar_Pedido]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[agregar_Pedido]
    @idUsuario INT,
    @precioTotal DECIMAL(10,2),
    @estado VARCHAR(30),
    @metodoDePago VARCHAR(40)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Pedido (idUsuario, precioTotal, estado, metodoDePago)
    VALUES (@idUsuario, @precioTotal, @estado, @metodoDePago);

    SELECT SCOPE_IDENTITY() AS id_generado;
END

GO
/****** Object:  StoredProcedure [dbo].[cambiar_password]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[cambiar_password]
@idUsuario bigint, 
@currentPassword varchar(30),
@newPassword varchar(30)
As
Begin
begin Try

   IF EXISTS (select 1 from usuario where Usuario.Id=@idUsuario and Usuario.Contraseña=@currentPassword)

   begin

   update Usuario
   set Contraseña = @newPassword
   where Usuario.Id=@idUsuario

    SELECT 'OK' AS Resultado, 'Contraseña actualizada correctamente' AS Mensaje;

    end
    else 
    begin
      SELECT 'ERROR' AS Resultado, 'La contraseña actual no coincide' AS Mensaje;
        END
    END TRY

     BEGIN CATCH
        SELECT 
            'ERROR' AS Resultado,
            ERROR_MESSAGE() AS Mensaje;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Desahacer_Compra]    Script Date: 27/11/2025 19:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Desahacer_Compra]
@idPedido bigint,
@exito bit
as 
begin 

set nocount on 

begin try

if @exito <> 1
begin 

Update Pedido 

set estado = 'Cancelado' where Pedido.id=@idPedido;

end 

end try

begin catch

end catch 
end
GO
USE [master]
GO
